* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.Foximg {
    width: 90px;
    height: 90px;
}

.Foxlabel {
    font-size: 40px;
    margin-left: 20px;
}

.div-1 {
    display: flex;
    align-items: center;
}

.G {
    width: 20px;
    height: 20px;
}

.inputer {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 700px;
    height: 45px;

}

.text-input {
    margin-left: 10px;
    width: 600px;
    height: 40px;
    border: none;
    outline: none;
}

.faceta {
    width: 70px;
    height: 70px;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
}

.tweet {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 10px;
}

.fa-twitter-square {
    font-size: 60px;
    color: rgb(29,161,242);
}

.fa-facebook-square {
    font-size: 60px;
    color: rgb(0, 106, 255);
}

div {
    display: flex;
    justify-content: center;

    margin-top: 30px;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}